* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #faf0e8;
  padding: 5rem;
  margin: 0;
}

.hero {
  display: grid;
  grid-template-columns: auto auto auto;
  -moz-column-gap: 0;
       column-gap: 0;
  grid-template-rows: 4rem auto;
}

.grid-item1 {
  grid-row: 1/2;
}

.cuteimg {
  grid-column: 2;
  grid-row: 2;
  position: relative;
}

.cute {
  position: absolute;
  right: 35rem;
  bottom: 0;
  z-index: 0;
}

.edbod-container {
  position: absolute;
  display: flex;
  left: -7rem;
  top: 11rem;
  gap: 1rem;
}

.edbod {
  z-index: 100;
}

.ed {
  width: 57rem;
}

.bod {
  width: 37rem;
  transform: translateY(-1.3rem);
}

.smpudu {
  position: absolute;
  width: 30rem;
  top: 13rem;
  left: 60rem;
}

.paper {
  width: 35rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.stars {
  position: absolute;
  width: 20rem;
  right: 0;
}

.rainbow {
  z-index: -10;
  position: absolute;
  width: 25rem;
  bottom: 11.7rem;
  left: -22rem;
  transform: rotate(-70deg);
}

.dots1 {
  z-index: -1000;
  position: absolute;
  width: 105rem;
  height: 45rem;
  right: 9rem;
  bottom: 13rem;
  background-image: url(dots1.png);
}

.hero-bg {
  z-index: -100;
  position: absolute;
  width: 55rem;
  border-right: 15rem solid transparent;
  border-top: 42rem solid #3f8aa2;
  padding: 3rem;
}

.decorative-semicircles {
  height: 4rem;
  display: flex;
  transform: translateX(2.3rem);
}

.semicircle {
  color: #3f8aa2;
  width: 8rem;
  height: 4rem;
  background-color: #3f8aa2;
  border-radius: 0 0 15rem 15rem;
}

.dashed-lines {
  grid-column: 3/3;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
}

.dash {
  color: #3f8aa2;
  background-color: #3f8aa2;
  width: 0.4rem;
  height: 2rem;
}

.whatisedbod {
  width: 45rem;
}

.paragraph {
  line-height: 3rem;
  padding-left: 2.5rem;
  width: 37rem;
  font-size: 2.2rem;
  color: #fff5ec;
  font-family: "Gabriela";
}

.paragraph1 {
  border: solid #256174 0.5rem;
  padding: 3rem 3.5rem 4rem 5rem;
  line-height: 3rem;
  padding-left: 2.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: #256174;
  font-family: "Gabriela";
}

.questions {
  padding-left: 2.5rem;
  padding-top: 4rem;
  letter-spacing: -3.5px;
  font-size: 5rem;
  font-family: "Lovelo";
  font-weight: 900;
  color: #3f8aa2;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: #fff5ec;
}

.body {
  margin-top: 4rem;
}

.grid-container {
  display: grid;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 3rem;
  grid-template-columns: auto auto;
  grid-template-rows: 21rem auto;
}

.questionbox1 {
  background-color: #3f8aa2;
  padding-bottom: 5rem;
}

.absolute {
  position: absolute;
}

.questionboxno1 {
  background-image: url(wave.png);
}

.textbox1 {
  background-image: url(wavydots.png);
  background-repeat: no-repeat;
}

.textbox2 {
  background-image: url(scattered.png);
  background-repeat: no-repeat;
}

@media (max-width: 300px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 480px) {
  body {
    padding: 1.2rem;
  }
  .questions {
    padding-top: 2rem;
    font-size: 3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff5ec;
  }
  .whatisedbod {
    width: 18rem;
  }
  .dash {
    height: 3rem;
  }
  .dashed-lines {
    row-gap: 1.5rem;
  }
  .hero {
    grid-template-rows: 1rem auto;
  }
  .hero-bg {
    z-index: -100;
    position: absolute;
    width: 24rem;
    border-right: 12rem solid transparent;
    border-top: 36rem solid #3f8aa2;
    padding: 3rem;
  }
  .semicircle {
    color: #3f8aa2;
    width: 3.4rem;
    height: 1.5rem;
    background-color: #3f8aa2;
    border-radius: 0 0 15rem 15rem;
    font-size: 0.1rem;
  }
  .cute {
    width: 26rem;
    position: absolute;
    left: -9rem;
    top: 9rem;
    z-index: 0;
  }
  .sem3 {
    display: none;
  }
  .dots1 {
    z-index: -10000;
    position: absolute;
    width: 30rem;
    height: 20rem;
    left: 9rem;
    top: 22rem;
    background-image: url(dots1.png);
    background-size: 80%;
  }
  .edbod-container {
    position: absolute;
    display: flex;
    left: -7rem;
    top: 17rem;
  }
  .decorative-semicircles {
    height: 4rem;
    display: flex;
  }
  .edbod {
    z-index: 100;
  }
  .bod {
    transform: translate(5.5rem, -13.3rem);
  }
  .smpudu {
    position: absolute;
    width: 14rem;
    top: 16.5rem;
    left: 3rem;
  }
  .paper {
    z-index: -1000;
    width: 20rem;
    position: absolute;
    left: -3rem;
    top: 0;
  }
  .stars {
    position: absolute;
    width: 12rem;
    left: 2.7rem;
    top: 1rem;
  }
  .rainbow {
    z-index: -10;
    position: absolute;
    width: 15rem;
    bottom: 15rem;
    left: -14.5rem;
    transform: rotate(-68deg);
  }
  .paragraph {
    padding-top: 1rem;
    line-height: 1.6rem;
    padding-left: 2rem;
    width: 15rem;
    font-size: 1.4rem;
    color: #fff5ec;
    font-family: "Gabriela";
  }
  .ed {
    width: 24rem;
  }
  .bod {
    width: 18rem;
    transform: translate(5.5rem, -15rem);
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .edbod-container {
    flex-direction: column;
  }
  .paragraph1 {
    border: solid #256174 0.5rem;
    padding: 2rem 1.5rem 2rem 1rem;
    line-height: 1.6rem;
    font-size: 1.4rem;
  }
  .questionbox1 {
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  .questionboxno2 {
    padding-right: 1rem;
    grid-row: 2;
    grid-column: 2;
  }
}
/* DIVIDER */
/* DIVIDER */
/* DIVIDER */
/* DIVIDER */
@media (max-width: 420px) {
  html {
    font-size: 30;
  }
  body {
    padding: 1.2rem;
  }
  .hero {
    grid-template-rows: 1rem auto;
  }
  .hero-bg {
    z-index: -100;
    position: absolute;
    width: 24rem;
    border-right: 12rem solid transparent;
    border-top: 35rem solid #3f8aa2;
    padding: 3rem;
  }
  .semicircle {
    color: #3f8aa2;
    width: 3rem;
    height: 1.5rem;
    background-color: #3f8aa2;
    border-radius: 0 0 15rem 15rem;
    font-size: 0.1rem;
  }
  .cute {
    width: 26rem;
    position: absolute;
    left: -11rem;
    top: 9rem;
    z-index: 0;
  }
  .sem3 {
    display: none;
  }
  .dots1 {
    z-index: -10000;
    position: absolute;
    width: 30rem;
    height: 20rem;
    left: 9rem;
    top: 22rem;
    background-image: url(dots1.png);
    background-size: 80%;
  }
  .edbod-container {
    position: absolute;
    display: flex;
    left: -8rem;
    top: 17rem;
  }
  .decorative-semicircles {
    height: 4rem;
    display: flex;
  }
  .edbod {
    z-index: 100;
  }
  .bod {
    transform: translate(5.5rem, -13.3rem);
  }
  .smpudu {
    position: absolute;
    width: 14rem;
    top: 16.5rem;
    left: 1.2rem;
  }
  .paper {
    z-index: -1000;
    width: 20rem;
    position: absolute;
    left: -3rem;
    top: 0;
  }
  .stars {
    position: absolute;
    width: 12rem;
    left: 2.7rem;
    top: 1rem;
  }
  .rainbow {
    z-index: -10;
    position: absolute;
    width: 15rem;
    bottom: 15rem;
    left: -15rem;
    transform: rotate(-68deg);
  }
  .questions {
    padding-left: 2rem;
    padding-top: 2rem;
    letter-spacing: -1.7px;
    font-size: 2.6rem;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #fff5ec;
  }
  .paragraph {
    padding-top: 1rem;
    line-height: 1.5rem;
    padding-left: 2rem;
    width: 13rem;
    font-size: 1.3rem;
    color: #fff5ec;
    font-family: "Gabriela";
  }
  .whatisedbod {
    width: 17rem;
  }
  .ed {
    width: 23rem;
  }
  .bod {
    width: 17rem;
    align-self: right;
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .edbod-container {
    flex-direction: column;
  }
  .paragraph1 {
    border: solid #256174 0.5rem;
    padding: 2rem 1.5rem 2rem 1rem;
    line-height: 1.5rem;
    font-size: 1.3rem;
  }
  .questionbox1 {
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  .questionboxno2 {
    padding-right: 1rem;
    grid-row: 2;
    grid-column: 2;
  }
}
@media (max-width: 400px) {
  .cute {
    width: 23rem;
    position: absolute;
    left: -9rem;
    top: 9rem;
    z-index: 0;
  }
  .hero-bg {
    z-index: -100;
    position: absolute;
    width: 24rem;
    border-right: 12rem solid transparent;
    border-top: 35rem solid #3f8aa2;
    padding: 3rem;
  }
  .body {
    margin-top: 6rem;
  }
  .whatisedbod {
    width: 17.4rem;
  }
  .dash {
    height: 3rem;
  }
  .dashed-lines {
    row-gap: 1.5rem;
  }
}
@media (max-width: 380px) {
  .dash {
    height: 2.3rem;
  }
  .dashed-lines {
    row-gap: 1.2rem;
  }
}
@media (max-width: 800px) and (min-width: 480px) {
  .hero-bg {
    width: 48rem;
    border-right: 20rem solid transparent;
    border-top: 63rem solid #3f8aa2;
  }
  .whatisedbod {
    width: 40rem;
  }
  .sem800 {
    display: none;
  }
  .paragraph {
    width: 29rem;
    padding-top: 2rem;
    line-height: 3.5rem;
  }
  .ed {
    width: 60rem;
  }
  .bod {
    width: 45rem;
    transform: translate(15rem, -37rem);
  }
  .edbod-container {
    display: flex;
    flex-direction: column;
    left: 6rem;
    top: 19rem;
  }
  .paragraph {
    font-size: 2.5rem;
  }
  .paragraph1 {
    font-size: 2.5rem;
  }
  .dashed-lines {
    row-gap: 1.5rem;
  }
  .dash {
    height: 4.5rem;
  }
  .cute {
    width: 70rem;
    top: -2rem;
    left: -10rem;
  }
  .paper {
    top: 0;
    z-index: -1000;
  }
  .smpudu {
    left: 36rem;
    top: 21rem;
  }
  .rainbow {
    left: -25rem;
    top: 10rem;
    transform: rotate(-63deg);
  }
  body {
    padding-left: 3rem;
  }
  .dots1 {
    width: 80rem;
    top: 40rem;
    left: 30rem;
  }
  .semicircle {
    width: 7.8rem;
  }
  .questions {
    padding-left: 2.5rem;
    padding-top: 4rem;
    letter-spacing: -3.5px;
    font-size: 5rem;
    font-family: "Lovelo";
    font-weight: 900;
    color: #3f8aa2;
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: #fff5ec;
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: 53rem 53rem;
    grid-template-rows: auto auto;
  }
  .questionbox1 {
    background-color: #3f8aa2;
    padding-bottom: 5rem;
  }
}
@media (max-width: 900px) and (min-width: 800px) {
  .hero-bg {
    width: 40rem;
    border-right: 15rem solid transparent;
    border-top: 62rem solid #3f8aa2;
  }
  .whatisedbod {
    width: 35rem;
  }
  .sem900 {
    display: none;
  }
  .paragraph {
    width: 25rem;
    padding-top: 2rem;
  }
  .ed {
    width: 40rem;
  }
  .bod {
    width: 27.5rem;
    transform: translate(12rem, -22rem);
  }
  .edbod-container {
    display: flex;
    flex-direction: column;
    left: -2.5rem;
    top: 28rem;
  }
  .cute {
    width: 50rem;
    top: 6rem;
    left: -15rem;
  }
  .paper {
    top: 0;
    z-index: -1000;
  }
  .smpudu {
    left: 9rem;
    top: 23rem;
  }
  .rainbow {
    left: -22rem;
    top: 10rem;
    transform: rotate(-70deg);
  }
  body {
    padding-left: 3rem;
  }
  .dashed-lines {
    row-gap: 2rem;
  }
  .dash {
    height: 4rem;
  }
  .dots1 {
    width: 60rem;
    top: 36rem;
    left: 20rem;
  }
  .semicircle {
    width: 6.4rem;
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .questionbox1 {
    background-color: #3f8aa2;
    padding-bottom: 5rem;
  }
}
@media (max-width: 1000px) and (min-width: 900px) {
  .hero-bg {
    width: 40rem;
    border-right: 15rem solid transparent;
    border-top: 55rem solid #3f8aa2;
  }
  .whatisedbod {
    width: 35rem;
  }
  .sem1000 {
    display: none;
  }
  .paragraph {
    width: 28rem;
    padding-top: 2rem;
  }
  .ed {
    width: 45rem;
  }
  .bod {
    width: 30rem;
    transform: translate(15rem, -25rem);
  }
  .edbod-container {
    display: flex;
    flex-direction: column;
    left: -2.5rem;
    top: 22rem;
  }
  .cute {
    width: 47rem;
    top: 9rem;
    left: -12rem;
  }
  .paper {
    top: 0;
    z-index: -1000;
  }
  .smpudu {
    left: 15rem;
    top: 20rem;
  }
  .rainbow {
    left: -23rem;
    top: 10rem;
    transform: rotate(-75deg);
  }
  .dashed-lines {
    row-gap: 1.6rem;
  }
  .dash {
    height: 5rem;
  }
  body {
    padding-left: 3rem;
  }
  .dots1 {
    width: 70rem;
    top: 32rem;
  }
  .semicircle {
    width: 6.7rem;
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .questionbox1 {
    background-color: #3f8aa2;
    padding-bottom: 5rem;
  }
}
@media (max-width: 1100px) and (min-width: 1000px) {
  .hero-bg {
    width: 40rem;
    border-right: 10rem solid transparent;
    border-top: 47rem solid #3f8aa2;
  }
  .whatisedbod {
    width: 33rem;
  }
  .dashed-lines {
    row-gap: 1.7rem;
  }
  .dash {
    height: 4rem;
  }
  .sem1100 {
    display: none;
  }
  .paragraph {
    width: 30rem;
    padding-top: 2rem;
  }
  .ed {
    width: 41rem;
  }
  .bod {
    width: 27rem;
    transform: translate(14rem, -23rem);
  }
  .edbod-container {
    display: flex;
    flex-direction: column;
    left: 15.5rem;
    top: 17rem;
  }
  .cute {
    width: 57rem;
    top: 1rem;
    left: -4rem;
  }
  .paper {
    top: 0;
    z-index: -1000;
  }
  .smpudu {
    left: 28rem;
    top: 13rem;
  }
  .rainbow {
    left: -20rem;
    top: 10rem;
    transform: rotate(-75deg);
  }
  body {
    padding-top: 3rem;
    padding-left: 3rem;
  }
  .dots1 {
    width: 70rem;
    top: 25rem;
  }
  .semicircle {
    width: 6.7rem;
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .questionbox1 {
    background-color: #3f8aa2;
    padding-bottom: 5rem;
  }
}
@media (max-width: 1200px) and (min-width: 1100px) {
  .hero-bg {
    width: 40rem;
    border-right: 10rem solid transparent;
    border-top: 50rem solid #3f8aa2;
  }
  .whatisedbod {
    width: 33rem;
  }
  .paragraph {
    width: 29rem;
    padding-top: 2rem;
  }
  .ed {
    width: 40rem;
  }
  .bod {
    width: 26rem;
    transform: translateY(-1rem);
  }
  .edbod-container {
    left: 2rem;
    top: 24rem;
  }
  .cute {
    width: 63rem;
    top: -4rem;
    left: -7rem;
  }
  .paper {
    top: 0;
    z-index: -1000;
  }
  .smpudu {
    width: 34rem;
    left: 37rem;
    top: 17rem;
  }
  .rainbow {
    left: -22rem;
    top: 10rem;
    transform: rotate(-79deg);
  }
  .dash {
    height: 3rem;
  }
  .dashed-lines {
    row-gap: 1rem;
  }
  body {
    padding-top: 3rem;
    padding-left: 3rem;
  }
  .dots1 {
    width: 80rem;
    top: 25rem;
  }
  .semicircle {
    width: 6.5rem;
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .questionbox1 {
    background-color: #3f8aa2;
    padding-bottom: 5rem;
  }
}
@media (max-width: 1300px) and (min-width: 1200px) {
  .dash {
    height: 2.5rem;
  }
  .dashed-lines {
    width: 1rem;
  }
  .hero-bg {
    width: 40rem;
    border-right: 10rem solid transparent;
    border-top: 50rem solid #3f8aa2;
  }
  .whatisedbod {
    width: 35rem;
  }
  .paragraph {
    width: 28rem;
    padding-top: 2rem;
  }
  .ed {
    width: 45rem;
  }
  .bod {
    width: 30rem;
  }
  .edbod-container {
    left: 0vw;
    top: 22rem;
  }
  .cute {
    width: 63rem;
    top: -4rem;
    left: -7rem;
  }
  .paper {
    top: 0;
    z-index: -1000;
  }
  .smpudu {
    width: 34rem;
    left: 45rem;
    top: 17rem;
  }
  .rainbow {
    left: -22rem;
    top: 10rem;
    transform: rotate(-79deg);
  }
  body {
    padding-top: 3rem;
    padding-left: 3rem;
  }
  .dots1 {
    width: 90rem;
    top: 25rem;
  }
  .semicircle {
    width: 7.5rem;
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .questionbox1 {
    background-color: #3f8aa2;
    padding-bottom: 5rem;
  }
}
@media (max-width: 1400px) and (min-width: 1300px) {
  .hero-bg {
    width: 45rem;
    border-right: 10rem solid transparent;
    border-top: 49rem solid #3f8aa2;
  }
  .whatisedbod {
    width: 35rem;
  }
  .dash {
    height: 2.4rem;
  }
  .paragraph {
    width: 30rem;
    padding-top: 2rem;
  }
  .ed {
    width: 48rem;
  }
  .bod {
    width: 34rem;
  }
  .edbod-container {
    left: 2rem;
    top: 20rem;
  }
  .cute {
    width: 60rem;
    top: -0.5rem;
    left: 0rem;
  }
  .paper {
    width: 40rem;
    top: 0;
    z-index: -1000;
  }
  .smpudu {
    left: 56rem;
    top: 18rem;
  }
  .rainbow {
    left: -18rem;
    top: 10rem;
    transform: rotate(-78deg);
  }
  body {
    padding-top: 3rem;
    padding-left: 3rem;
  }
  .dots1 {
    width: 90rem;
    top: 25rem;
  }
  .semicircle {
    width: 8rem;
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .questionbox1 {
    background-color: #3f8aa2;
    padding-bottom: 5rem;
  }
}
@media (max-width: 1600px) and (min-width: 1400px) {
  .dots1 {
    top: 20rem;
  }
}
@media (max-width: 1700px) and (min-width: 1600px) {
  .semicircle {
    width: 9rem;
    height: 4.5rem;
  }
  .edbod-container {
    left: 1rem;
  }
  .smpudu {
    left: 68rem;
  }
  .dots1 {
    color: #fff5ec;
    top: 20rem;
  }
}
@media (max-width: 1900px) and (min-width: 1700px) {
  .whatisedbod {
    width: 50rem;
  }
  .hero-bg {
    width: 60rem;
  }
  .hero-bg {
    z-index: -100;
    position: absolute;
    width: 60rem;
    border-right: 25rem solid transparent;
    border-top: 60rem solid #3f8aa2;
    padding: 3rem;
  }
  .dash {
    height: 3.4rem;
  }
  .paragraph {
    width: 50rem;
    font-size: 3rem;
    padding-top: 3rem;
    line-height: 4.5rem;
  }
  .paragraph1 {
    font-size: 3rem;
    padding-top: 3rem;
    line-height: 4.5rem;
  }
  .semicircle {
    width: 10rem;
    height: 4.5rem;
  }
  .questions {
    font-size: 5.5rem;
  }
  .rainbow {
    width: 35rem;
    left: -36rem;
    top: 14rem;
    transform: rotate(-68deg);
  }
  .ed {
    width: 70rem;
  }
  .bod {
    width: 50rem;
  }
  .edbod-container {
    top: 20rem;
    left: -13rem;
  }
  .smpudu {
    width: 45rem;
    left: 66rem;
    top: 20rem;
  }
  .cute {
    width: 80rem;
  }
  .dots1 {
    width: 140rem;
    top: 35rem;
  }
  .paper {
    z-index: -10000;
    width: 50rem;
  }
}
@media (max-width: 3000px) and (min-width: 1900px) {
  .whatisedbod {
    width: 55rem;
  }
  .hero-bg {
    width: 60rem;
  }
  .hero-bg {
    z-index: -100;
    position: absolute;
    width: 65rem;
    border-right: 25rem solid transparent;
    border-top: 60rem solid #3f8aa2;
    padding: 3rem;
  }
  .dash {
    height: 3.4rem;
  }
  .paragraph {
    width: 50rem;
    font-size: 3rem;
    padding-top: 3rem;
    line-height: 4.5rem;
  }
  .paragraph1 {
    font-size: 3rem;
    padding-top: 3rem;
    line-height: 4.5rem;
  }
  .semicircle {
    width: 12rem;
    height: 6rem;
  }
  .questions {
    font-size: 5.5rem;
  }
  .rainbow {
    width: 35rem;
    left: -33rem;
    top: 14rem;
    transform: rotate(-68deg);
  }
  .ed {
    width: 75rem;
  }
  .bod {
    width: 55rem;
  }
  .edbod-container {
    top: 17rem;
    left: -7rem;
  }
  .smpudu {
    width: 45rem;
    left: 82rem;
    top: 20rem;
  }
  .cute {
    width: 90rem;
    left: 0rem;
  }
  .dots1 {
    color: #fff5ec;
    width: 140rem;
    top: 35rem;
  }
  .paper {
    z-index: -10000;
    width: 50rem;
  }
  /* .semicircle {
    width: 10rem;
    height: 5rem;
  }

  .paragraph {
    font-size: 2.5rem;
    line-height: 3.5rem;
    padding-top: 3rem;
  }

  .rainbow {
    width: 35rem;
    transform: rotate(-75deg);
    left: -33rem;
  }

  .edbod-container {
    top: 15rem;
  }

  .ed {
    width: 70rem;
  }

  .bod {
    width: 50rem;
  }

  .paper {
    width: 45rem;
  }

  .smpudu {
    width: 50rem;
  }

  .dash {
    height: 3.4rem;
  }

  .dots1 {
    color: #fff5ec;
    width: 140rem;
    top: 20rem;
  }

  .cute {
    width: 70rem;
  } */
}
@media (max-width: 380px) {
  html {
    font-size: 30;
  }
  body {
    padding: 1.2rem;
  }
  .hero {
    grid-template-rows: 1rem auto;
  }
  .hero-bg {
    z-index: -100;
    position: absolute;
    width: 22rem;
    border-right: 12rem solid transparent;
    border-top: 40vh solid #3f8aa2;
    padding: 3rem;
  }
  .semicircle {
    color: #3f8aa2;
    width: 3rem;
    height: 1.5rem;
    background-color: #3f8aa2;
    border-radius: 0 0 15rem 15rem;
    font-size: 0.1rem;
  }
  .cute {
    width: 57vw;
    position: absolute;
    left: -33vw;
    top: 8vh;
    z-index: 0;
  }
  .sem2 {
    display: none;
  }
  .dots1 {
    z-index: -10000;
    position: absolute;
    width: 70vw;
    height: 20vh;
    left: 9rem;
    top: 22vh;
    background-image: url(dots1.png);
    background-size: 80%;
  }
  .edbod-container {
    position: absolute;
    display: flex;
    left: -17vw;
    top: 17vh;
  }
  .decorative-semicircles {
    height: 4rem;
    display: flex;
  }
  .edbod {
    z-index: 100;
  }
  .bod {
    transform: translate(5.5rem, -11.3rem);
  }
  .smpudu {
    position: absolute;
    width: 11rem;
    top: 11rem;
    left: 1.5rem;
  }
  .paper {
    z-index: -1000;
    width: 17rem;
    position: absolute;
    left: -3rem;
    top: 0;
  }
  .stars {
    position: absolute;
    width: 10rem;
    left: 2.5rem;
    top: 1rem;
  }
  .rainbow {
    z-index: -10;
    position: absolute;
    width: 15rem;
    bottom: 8rem;
    left: -43.5vw;
    transform: rotate(-65deg);
  }
  .questions {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    letter-spacing: -1.7px;
    font-size: 2.3rem;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #fff5ec;
  }
  .paragraph {
    line-height: 1.3rem;
    padding-left: 1.5rem;
    width: 30vw;
    font-size: 1rem;
    color: #fff5ec;
    font-family: "Gabriela";
  }
  .whatisedbod {
    width: 17rem;
  }
  .ed {
    width: 50vw;
  }
  .bod {
    width: 35vw;
    align-self: right;
  }
  .grid-container {
    display: grid;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .edbod-container {
    flex-direction: column;
  }
  .paragraph1 {
    border: solid #256174 0.5rem;
    padding: 2rem 1.5rem 2rem 1rem;
    line-height: 1.3rem;
    font-size: 1rem;
  }
  .questionbox1 {
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  .questionboxno2 {
    grid-row: 2;
    grid-column: 2;
  }
  .footer {
    display: none;
  }
  .body {
    margin-top: 4rem;
  }
}/*# sourceMappingURL=style.css.map */
